<template name="chat">
	<section class="chat content">
		<input id="usernav-icon" class="right-icon" type="checkbox" /><label for="usernav-icon"></label>
		<article class="messages">
			<h2><span>Topic: {{topic}}</span> <span>Room: {{room}} ({{numUsers}})</span></h2>
			<p></p>
			<input class="message-input" type="text" placeholder="Message" style="color: {{color}}" />
			{{> upload_bootstrap callback="uploaded"}}
			<input class="message-submit" type="button" value="Send" />
		</article>
		<aside class="usernav">
			<h2>Users: </h2>
			<ul>{{#each users}}<li><span class="username">{{username _id}}</span></li>{{/each}}</ul>
		</aside>
	</section>
</template>