#usernav-icon + label {
	background-image: url("/image/user.png");
}


/* -------------------------------------------------------------------------- */
/* Messages container */
.chat .messages h2{
	padding: 0 40px 0 4px;
	text-align: right;
}


.chat .messages h2 span:first-of-type {
	float: left;
}

.content article p {
	background: rgba(255, 255, 255, .0625);
	border-bottom: 1px solid rgba(255, 255, 255, .0625);
	border-radius: 2px;
	height: calc(100vh - 78px);
	margin: 8px 8px 0;
	padding: 0 4px;
	overflow-x: hidden;
	overflow-y: scroll;
}

/* ---------------------------------- */
/* Individual message */

.message {
	background: rgba(255, 255, 255, .0625);
	border-radius: 2px;
	box-shadow: 0 0 2px black;
	clear: both;
	display: table;
	line-height: 16px;
	margin: 0 0 4px 0;
	padding: 0 2px;
}

/* ---------------------------------- */
/* Message metadata */
.meta {
	float: left;
	line-height: 13px;
	margin: 0 4px 0 -2px;
	table-layout: fixed;
	vertical-align: middle;
}

.meta .user-icon {
	background: rgba(0, 0, 0, .0625);
	border-radius: 2px;
	height: 31px;
	margin-right: 2px;
	width: 31px;
}

.meta .timestamp {
	font-family: consolas;
	font-size: 80%;
	line-height: 100%;
}
.meta .system, .meta .admin, .meta.username, .meta .guest {
	text-align: right;
}
/* ---------------------------------- */
/* Links*/
.message a{
	color: skyblue;
	text-decoration: none;
	text-shadow: 0 0 2px black;
}
.message a:focus, .message a:hover{
	text-decoration: underline;
}

/* ---------------------------------- */
/* Image/Video uploads & Youtube videos */
.message iframe, .message video, .message .image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: none;
	border-radius: 2px; /* 2px doesn't show up? */
	box-shadow: 0 0 2px black;
	float: left;
	height: 135px;		/* 16:9 */
	max-width: 100%;
	margin: 2.5px 0;
	object-fit: fill;
	padding: 0;
	width: 240px;		/* 16:9 */
}

.message .image{
	background-color: black;
	background-size: contain;
}
/* -------------------------------------------------------------------------- */
/* Message input fields */

.message-input{
	width: calc(100% - 138px);
}

.message-submit{
	width: 70px;
}

.message-input, .message-submit, .messages form, .upload-control{
	float: left;
}

/* ---------------------------------- */
/* File upload */

.messages form{
	background-color: rgba(255, 255, 255, .0625);
	background-image: url('/image/plus.png');
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 2px;
	box-shadow: 0 0 2px black;
	display: inline-block;
	height: 28px;
	margin: 8px 0 0 8px;
	overflow: hidden;
	width: 28px;
}
.messages form:focus, .messages form:hover{
	background-color: rgba(255, 255, 255, .25);
}

.messages form *{
	border-radius: 2px !important;
	cursor: pointer !important;
}

.messages form, .messages .uploadPanel, .messages .upload-control, .messages input[type="file"], .messages .progressInner{
	height: 28px !important;
	line-height: 28px;
	width: 28px !important;
}

.messages .uploadPanel{
	overflow: hidden;
}

.messages .form-control{
	top: -28px;
}

.messages .btn-file, .messages input[type="file"]{
	opacity: 0;
	z-index: 1;
}
.messages .chat input[type="file"]{
    display: block;
	margin: 0 !important;
	max-width: 28px;
	padding: 0;
}

.messages .progress-bar{
	background-color: rgba(0, 255, 64, .5);
}

.messages .progress-label{
	display: none;
}

.messages .start{
	display: none;
	opacity: 0;
	position: relative;
	top: -56px;
}

.messages .cancel{
	background: rgba(255, 0, 0, .25);
	font-size: 0;
	position: absolute;
	z-index: 2;
}

.messages .done{
	animation: 3s fade-out;
	background: lime;
	font-size: 0;
	opacity: 0;
	position: absolute;
}
@keyframes fade-out {
	0%	 {opacity: 1;}
	100% {opacity: 0;}
}