.username-input{
	
}

label[for="color-input"]{
	background: rgba(255, 255, 255, .0625);
	border: none;
	border-radius: 2px;
	box-shadow: 0 0 2px black;
	float: left;
	height: 28px;
	line-height: 28px;
	margin: 8px 0 0 8px !important;
	padding: 0 4px;
	text-align: center;
	width: 70px;
}
label[for="color-input"]:focus, label[for="color-input"]:hover{
	background: rgba(255, 255, 255, .125);
}


#color-input, #color-reset{
	float: left;
	width: calc(50% - 178px);
}
@media(max-width: 480px){#color-input{width: calc(100% - 180px)}}

#color-reset{
	width: 70px;
}

.profile-icon{
	background: rgba(0, 0, 0, .25);
	border: 1px solid rgba(255, 255, 255, .0625);
	border-radius: 2px;
	box-shadow: 0 0 2px black;
	display: block;
	float: right;
	height: calc(33vw - 8px);
	line-height: -khtml-block-height;
	line-height: -ms-block-height;
	line-height: -moz-block-height;
	line-height: -o-block-height;
	line-height: -webkit-block-height;
	line-height: block-height;
	margin: 8px 8px 0 8px;
	max-height: 480px;
	max-width: 720px;
	overflow: hidden;
	text-align: center;
	width: calc(50% - 20px);
}
@media(max-width: 480px){.profile-icon{
	height: calc(50vw - 16px);
	width: calc(100% - 16px);
}}