<template name="search">
	<h2>Yet Another Page</h2>
	Pellentesque fringilla, enim a gravida pellentesque, nunc lectus imperdiet sem, vitae ultrices odio ante 
	condimentum justo. Integer vestibulum ipsum eu mauris lacinia ultrices. Cum sociis natoque penatibus et magnis 
	dis parturient montes, nascetur ridiculus mus. Sed quis ante aliquet, vestibulum lorem vel, sollicitudin ex. 
	Sed sit amet neque nec justo dictum interdum. Etiam rhoncus, turpis sit amet ultrices imperdiet, diam eros 
	rutrum purus, vehicula dapibus felis libero nec diam. Maecenas efficitur sit amet dolor semper euismod. 
	Integer in ex eros. Donec nulla massa, sagittis id sodales et, sagittis in elit. Aenean ullamcorper sem tortor, 
	at hendrerit nibh malesuada vitae.<br />
	<br />
	Suspendisse a vehicula metus, vitae efficitur turpis. Class aptent taciti sociosqu ad litora torquent per 
	conubia nostra, per inceptos himenaeos. Duis varius vehicula nisl, id vehicula tortor tempor vel. Phasellus 
	hendrerit sapien ex, vel ornare risus bibendum nec. Sed sagittis, felis quis fringilla lacinia, nisi orci 
	venenatis elit, vel ultricies diam lacus sed tellus. Integer quis faucibus lacus. In blandit risus nisi, vel 
	facilisis risus bibendum non. In ac magna vitae sapien mattis hendrerit nec vel ligula. In sit amet vulputate ex. 
	Sed consequat felis eu augue hendrerit, ut cursus turpis molestie. Sed id nunc auctor, tempor velit sed, 
	consectetur justo. Quisque rhoncus ligula enim, ut commodo diam fermentum et. Phasellus egestas ante vitae purus 
	commodo dictum. 
</template>